<%- include('../partials/header') %>
<h1>Flight Details</h1>
<div class="containter">
    <table>
        <thead>
            <tr>
                <th>Airline</th>
                <th>Flight #</th>
                <th>Airport</th>
                <th>Depature Time</th>
            </tr>
        </thead>
        <tbody>
                <tr class="flight-data">
                    <td><%= flight.airline%></td>
                    <td><%= flight.flightNo%></td>
                    <td><%= flight.airport%></td>
                    <td><%= flight.departs%></td>
                </tr>
        </tbody>
    </table>
    <table id="dest-table">
        <thead>
            <tr>
                <th>Destinations</th>
                <th>ArrivalTimes</th>
            </tr>
            <tbody>
                <%flight.destination.forEach(function(d){ %>  
                <tr class="flight-data">
                    <td><%=d.destinationAirport%></td>
                    <td><%=d.arrivalTime%></td>
                </tr>
                <% })%>
            </tbody>
        </thead>
    </table>
    <table>
        <thead>
            <th>
              <th><a href="/flights/<%=flight._id%>/tickets/new" >Tickets</a></th>
            </tr>
            <tbody>
            <% ticket.forEach(function(t){ %>
                <tr>
                    <td><%=t.seat%></td>
                    <td>$<%=t.price%></td>
                   <td> <form class="delete" action="/<%=t._id%>?_method=DELETE" class="delete-form" method="POST">
                        <button type="submit">Delete Ticket</button> 
                    </form></td>
                </tr>
            <%})%>
            </tbody>
        </thead>
    </table>

    <% if(flight.destination.length < 5){ %>
        <form class="dest-form"method="POST" action="/flights/<%=flight.id%>/show" >
            <label>Destination:
                <select name="destinationAirport">
                <% if(flight.airport === "DEN"){%>
                    <option value="DEN" disabled>DEN</option>
                <%}else{%>
                    <option value="DEN">DEN</option>
                <%}%>
                <% if(flight.airport === "AUS"){%>
                    <option value="AUS" disabled>AUS</option>
                <%}else{%>
                    <option value="AUS">AUS</option>
                <%}%>
                <% if(flight.airport === "LAX"){%>
                    <option value="LAX" disabled>LAX</option>
                <%}else{%>
                    <option value="LAX">LAX</option>
                <%}%>
                <% if(flight.airport === "DAL"){%>
                    <option value="DAL" disabled>DAL</option>
                <%}else{%>
                    <option value="DAL">DAL</option>
                <%}%>
                <% if(flight.airport === "SAN"){%>
                    <option value="SAN" disabled>SAN</option>
                <%}else{%>
                    <option value="SAN">SAN</option>
                <%}%>
                </select>
            </label></br></br>
            <label>Arrival Time:
            <input type="datetime-local" name="arrivalTime" value="<%=arrivalDate%>">
            </label>
            <input type="submit" value="Add Destination">
        </form> 
    <% }%>
    <form class="delete" action="/flights/<%= flight.id%>?_method=DELETE" class="delete-form" method="POST">
        <button type="submit">Delete Flight</button> 
    </form> 
 
</div>
<%- include('../partials/footer') %>